<!DOCTYPE html>
<html>
<head>
    <title>Simple Calculator</title>
    <style>
        body {
            background-color: rgb(222, 116, 140);
            text-align: center;
            font-family: Arial;
        }
        input {
            padding: 20px;
            margin: 15px;
        }
        button {
            padding: 20px 15px;
            background-color: green;
            color: white;
            border: none;
            cursor: pointer;
        }
        h2 {
            color: darkblue;
        }
    </style>
</head>
<body>

    <h2>Simple Addition Calculator</h2>

    <form method="post">
        <input type="number" name="num1" placeholder="Enter number 1" required>
        <br>
        <input type="number" name="num2" placeholder="Enter number 2" required>
        <br><br>
        <button type="submit">Add</button>
    </form>

    {% if result != "" %}
        <h3>Result: {{ result }}</h3>
    {% endif %}

</body>
</html>
